# Configuration file

~CONFIG_VERSION: 0.1.0

world-1974054333 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-2079355107 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=crate
    B:overlayEnabled=true
}


world-2096276321 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=wand
    B:overlayEnabled=true
}


world-2113371463 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=energi
    B:overlayEnabled=true
}


world-294235981 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@thaum
    B:overlayEnabled=true
}


world-421736689 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-782084382 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=tin dust
    B:overlayEnabled=true
}


world-782084383 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=bronze dust
    B:overlayEnabled=true
}


world-782084384 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=past
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1101665689 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=copper ca
    B:overlayEnabled=true
}


world113318802 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=bat
    B:overlayEnabled=true
}


world1378432 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=vis cr
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1623197669 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=glow
    B:overlayEnabled=true
}


world1673915206 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=craft
    B:overlayEnabled=true
}


world1690200562 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=zinc 
    B:overlayEnabled=true
}


world1854461405 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=$bronze $nug
    B:overlayEnabled=true
}


world1855637915 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=crafting
    B:overlayEnabled=true
}


world1855637920 {
    B:cheatItemsEnabled=true
    B:editEnabled=true
    S:filterText=@open b
    B:overlayEnabled=true
}


world2050503098 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=compan
    B:overlayEnabled=true
}


world2128819245 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@tink
    B:overlayEnabled=true
}


world3556498 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@chickenc
    B:overlayEnabled=true
}


world72414879 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world79713759 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=ludicrite
    B:overlayEnabled=true
}


world79713760 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@industrialcraft reactor
    B:overlayEnabled=true
}


